body {
    background: #333 ;
}

.box {
    background: white;
    width: 200px;
    height: 200px;
    position: absolute;
    animation-name: pk1;
    animation-duration: 4s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}

@keyframes pk1 {
    0% {border-radius: 0 0 0 0;}
    25% {border-radius: 0 0 0 50%;}
    50% {border-radius: 0 0 50% 50%;}
    75% {border-radius: 0 50% 50% 50%;}
    100% {border-radius: 50%;}
}